In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import seaborn as sns

In [2]:
def get_merged_csv(flist, **kwargs):
    return pd.concat([pd.read_csv(f, **kwargs) for f in flist], ignore_index=True)

path = os.getcwd() + "/data"
fmask = os.path.join(path, '*기보고서*.txt')
glob.glob(fmask)
df = get_merged_csv(glob.glob(fmask), index_col=None, sep = "\t", encoding = "cp949")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# '재무제표종류 종목코드 회사명 시장구분 업종 업종명 결산월 결산기준일 
# 보고서종류 통화 항목코드 항목명 당기 1분기말 전기말 전전기말 Unnamed: 15 당기 3분기말 당기 반기말'

# 변수 삭제
" ".join(df.columns)

lst = ["통화", "Unnamed: 15"]
df.drop(lst, axis = 1, inplace = True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993753 entries, 0 to 1993752
Data columns (total 16 columns):
 #   Column   Dtype
---  ------   -----
 0   재무제표종류   object
 1   종목코드     object
 2   회사명      object
 3   시장구분     object
 4   업종       int64
 5   업종명      object
 6   결산월      int64
 7   결산기준일    object
 8   보고서종류    object
 9   항목코드     object
 10  항목명      object
 11  당기 1분기말  object
 12  전기말      object
 13  전전기말     object
 14  당기 3분기말  object
 15  당기 반기말   object
dtypes: int64(2), object(14)
memory usage: 243.4+ MB

In [4]:
# 1분기보고서 : 결산월 3월 이면 결산기준일 6/30
# 결산월 부터 
df[df["보고서종류"] == "3분기보고서"][["결산기준일", "결산월"]]

              결산기준일  결산월
139997   2016-12-31    3
139998   2016-12-31    3
139999   2016-12-31    3
140000   2016-12-31    3
140001   2016-12-31    3
...             ...  ...
1662491  2019-09-30   12
1662492  2019-09-30   12
1662493  2019-09-30   12
1662494  2019-09-30   12
1662495  2019-09-30   12

[618322 rows x 2 columns]

In [37]:
a = df[["업종명", "업종"]].groupby(["업종명"]).agg(["count"]).reset_index().sort_values(by = ( '업종', 'count'))
a.to_csv("./data/업종명.csv", encoding = "utf-8", index = False)

In [38]:
b = a = df[["업종명", "업종"]].groupby(["업종"]).agg(["count"]).reset_index().sort_values(by = ( '업종명', 'count'))
b.to_csv("./data/업종.csv", encoding = "utf-8", index = False)

In [28]:
print(a)
print(len(df["업종명"].unique()))
print(len(df["업종"].unique()))

                         업종명     업종
                              count
0                1차 비철금속 제조업  16107
1                  1차 철강 제조업  48640
2                     가구 제조업   6592
3              가스 제조 및 배관공급업   4053
4          가전제품 및 정보통신장비 소매업    431
..                       ...    ...
180         해체, 선별 및 원료 재생업     785
181                 화학섬유 제조업  10382
182              환경 정화 및 복원업   1092
183      회사 본부 및 경영 컨설팅 서비스업   9848
184  회사본부, 지주회사 및 경영컨설팅 서비스업  26719

[185 rows x 2 columns]
185
155

In [63]:
lst = df["업종명"].unique()

check = df[["업종명", "업종"]]

lst2 = []
for i in lst:
    lst2.append(check[check["업종명"] == i].iloc[0,1])
    
check_df1 = pd.DataFrame({"업종명1":lst, "업종":lst2})
# check_df.to_csv("업종명기준확인.csv", encoding = "utf-8", index = False)

lst = df["업종"].unique()

check = df[["업종", "업종명"]]

lst2 = []
for i in lst:
    lst2.append(check[check["업종"] == i].iloc[0,1])
    
check_df2 = pd.DataFrame({"업종":lst, "업종명2":lst2})
# check_df.to_csv("업종기준확인.csv", encoding = "utf-8", index = False)
pd.merge(check_df1, check_df2, how = "outer").to_csv("최종확인.csv", encoding = "utf-8", index = False)