In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import re

df = pd.read_csv("../data/fianl_data_without_entity.csv", encoding = "euc-kr")

In [ ]:
company = pd.read_csv("../data/check_companies2020.csv", encoding = "euc-kr")
company[company["회사명"] < 4]

In [44]:
# 한화케미칼 -> 한화솔루션
# 메디파트너생명공학 -> 쎌마테라퓨틱스
# 현성바이탈 -> 코썬바이오
# 화신테크 -> 이노와이즈
# 웰크론강원 -> 강원
# KJ프리텍 -> 이엠앤아이
# 지투하이소닉 -> 하이소닉
# GMR 머티리얼즈 -> 글로스퍼랩스
# 보령메디앙스 -> 메디앙스
# 웅진코웨이 -> 코웨이
# 휠라코리아 -> 휠라홀딩스
# 유지인트 -> 에이비프로바이오
# 에스엔텍 -> 이큐셀
# 지엠피 -> 브이티지엠피
# 서연전자 -> 모베이스전자
# 젬백스테크놀러지 -> 에너전트 -> 젬백스지오
# 스튜디오썸머 -> 행남사
# 한컴시큐어 -> 한컴위드
# 카리스국보 -> 국보
# 팜스웰바이오 -> 큐브앤컴퍼니
# 삼우엠스, 나인컴플렉스, 코스나인, 코티스
# 에이티젠 -> 엔케이맥스
# 한국타이어 -> 한국타이어앤테크놀로지
# 한국타이어월드와이드 -> 한국테크놀로지그룹
# 토필드 -> 필로시스헬스케어
# 현대중공업 -> 한국조선해양
# 에어파크 -> 엘 에너지 -> 퍼시픽바이오 -> 케이알피앤이
# 만도공조 -> 위니아만도 -> 대유위니아 -> 위니아딤채
# 영인프런티어 -> 에이프런티어
# 세호로보트 -> 인터불스 -> 스타모빌리티
# 리켐 -> 알이피 -> 스카이이앤엠
# 까스텔바쟉 -> 까스텔바작
# 엠코르셋 -> 그리티
# KD건설 -> KD
# 아트라스BX -> 한국아트라스비엑스

In [232]:
# 회사명 변경
def change_name(before, after):
    df[(df["회사명"] == before) | (df["회사명"] == after)]["회사명"]
    lst = df[(df["회사명"] == before) | (df["회사명"] == after)]["회사명"].index
    df.iloc[lst, 1] = after

change_name("아트라스BX", "한국아트라스비엑스")

In [ ]:
# 두산건설
# 한컴지엠디
# 동양네트웍스
# 럭슬
# 데코앤이
# 차이나그레이트
# 썬텍
# 제이테크놀로지
# 사조해표
# 현대정보기술

In [228]:
# 상장폐지 기업
def delete_company(name):
    lst = df[df['회사명'] == name].index
    df.drop(lst, inplace = True)
    
delete_company("현대정보기술")
df.reset_index(drop = True, inplace = True)

In [ ]:
df.isnull().sum().sort_values().head(25)

In [83]:
", ".join(df.isnull().sum().sort_values().tail(20).index)

'신주인수권부사채할증발행차금, 전환상환우선주부채할증발행차금, 교환사채상환할증금, 교환사채할인발행차금, 교환사채할증발행차금, 단기이연대출부대수익, 자산 [abstract], 투자선수금, 장기구조조정충당부채, 장기손실부담계약충당부채, 완성프로그램, 유형탐사평가자산, 재무상태표 [abstract], 자본 [abstract], 단기공사유보금, 부채 [abstract], 교환권대가, 전산자동화개발, 비유동 단기매매정의 충족 금융부채, 장기대행미수금'

In [84]:
df.shape

(11674, 527)

In [87]:
pre1 = df[["회사명", "자본과부채총계"]]
pre1[pre1["자본과부채총계"].isnull()]

            회사명  자본과부채총계
445        레드로버      NaN
2089      두산솔루스      NaN
2137       레드로버      NaN
3191      피에스케이      NaN
3427  HDC현대산업개발      NaN
3781      두산솔루스      NaN
3829       레드로버      NaN
4126     스타모빌리티      NaN
4157     신한알파리츠      NaN
4871         퓨전      NaN
4883      피에스케이      NaN
5053      효성중공업      NaN
5054     효성첨단소재      NaN
5055      효성티앤씨      NaN
5056       효성화학      NaN
9121         썬텍      NaN

In [88]:
# 자본과부채총계 결측치 처리 Let's get it
# HDC현대산업개발 : 2018 상장
df[df['회사명'] == "HDC현대산업개발"]

# 두산솔루스 : 2019 상장
df[df['회사명'] == "두산솔루스"]

# 레드로버 : 사업보고서에만 자본과부채총계 부재... 좀 더 살펴봐야 함
df[df['회사명'] == "레드로버"]

# 스타모빌리티 : 2018년 이전 데이터 보고 X
df[df['회사명'] == "스타모빌리티"]

# 신한알파리츠 : 2018 사장
df[df['회사명'] == "신한알파리츠"]

# 썬텍 : 상장폐지
df[df['회사명'] == "썬텍"]

# 전처리가 잘못된거 같음......
df[df['회사명'] == "레드로버"]

,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,재무상태표 [abstract],자산 [abstract],...,현금흐름위험회피파생상품평가손실,지분법기타포괄손익변동,이익잉여금(결손금),이익준비금,기타법정적립금,임의적립금,미처분이익잉여금(미처리결손금),비지배지분,자본총계,자본과부채총계
445,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2019-12-31,사업보고서,NaN,NaN,...,NaN,NaN,-1.721994e+11,NaN,NaN,NaN,NaN,NaN,5.789188e+09,NaN
2137,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2018-12-31,사업보고서,NaN,NaN,...,NaN,NaN,-7.425069e+10,NaN,NaN,NaN,NaN,NaN,1.013587e+11,NaN
3829,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2017-12-31,사업보고서,NaN,NaN,...,NaN,NaN,-2.430996e+10,NaN,NaN,NaN,NaN,NaN,1.437280e+11,NaN
5512,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2019-06-30,반기보고서,NaN,NaN,...,NaN,NaN,-1.094667e+11,NaN,NaN,NaN,NaN,NaN,6.433454e+10,9.756144e+10
7148,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2019-03-31,1분기보고서,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.031632e+11,1.228558e+11
8784,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2019-09-30,3분기보고서,NaN,NaN,...,NaN,NaN,-1.112933e+11,NaN,NaN,NaN,NaN,NaN,6.250801e+10,9.504665e+10
10446,[060300],레드로버,코스닥시장상장법인,591.0,"영화, 비디오물, 방송프로그램 제작 및 배급업",12.0,2020-03-31,1분기보고서,NaN,NaN,...,NaN,NaN,-1.734183e+11,NaN,NaN,NaN,NaN,NaN,5.564730e+09,2.514613e+10

In [61]:
df.iloc[4126,:].isnull()

519

In [ ]:
df = df.drop(3427).reset_index(drop=True)

In [63]:
a = pd.read_csv("../data/2017_사업보고서_01_재무상태표_연결_20200626.txt",  sep = "\t", encoding = "cp949")

In [234]:
df.to_csv("../data/fianl_data_without_entity_change.csv", encoding = 'euc-kr')

In [235]:
df.shape # (11650, 527)

(11650, 527)

In [236]:
11650 / 2

5825.0

In [244]:
df.iloc[:5826, :].to_csv("../data/sumichoi.csv", encoding = "euc-kr")
df.iloc[5826:, :].to_csv("../data/dominkim.csv", encoding = "euc-kr", index = False)