In [509]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import re

df = pd.read_csv("../data/fianl_data_without_entity.csv", encoding = "euc-kr")

In [510]:
company = pd.read_csv("../data/check_companies2020.csv", encoding = "euc-kr")
company[company["회사명"] < 4]

     Unnamed: 0  회사명
1685       바이오빌    3
1686      삼영이엔씨    3
1687        아바텍    3
1688       두산건설    3
1689       CJ헬로    3
...         ...  ...
1803       에이루트    1
1804     현대정보기술    1
1805     아트라스BX    1
1806       삼우엠스    1
1807      제이엘케이    1

[123 rows x 2 columns]

In [511]:
# 삼우엠스, 나인컴플렉스, 코스나인, 코티스

In [512]:
# 회사명 변경
def change_name(before, after):
    df[(df["회사명"] == before) | (df["회사명"] == after)]["회사명"]
    lst = df[(df["회사명"] == before) | (df["회사명"] == after)]["회사명"].index
    df.iloc[lst, 1] = after

change_name("한화케미칼", "한화솔루션")
change_name("메디파트너생명공학", "쎌마테라퓨틱스")
change_name("현성바이탈", "코썬바이오")
change_name("화신테크", "이노와이즈")
change_name("웰크론강원", "강원")
change_name("KJ프리텍", "이엠앤아이")
change_name("지투하이소닉", "하이소닉")
change_name("GMR 머티리얼즈", "글로스퍼랩스")
change_name("보령메디앙스", "메디앙스")
change_name("웅진코웨이", "코웨이")
change_name("휠라코리아", "휠라홀딩스")
change_name("유지인트", "에이비프로바이오")
change_name("에스엔텍", "이큐셀")
change_name("지엠피", "브이티지엠피")
change_name("서연전자", "모베이스전자")
change_name("젬백스테크놀러지", "에너전트")
change_name("에너전트", "젬백스지오")
change_name("스튜디오썸머", "행남사")
change_name("한컴시큐어", "한컴위드")
change_name("카리스국보", "국보")
change_name("팜스웰바이오", "큐브앤컴퍼니")
change_name("나인컴플렉스", "코스나인")
change_name("에이티젠", "엔케이맥스")
change_name("한국타이어", "한국타이어앤테크놀로지")
change_name("한국타이어월드와이드", "한국테크놀로지그룹")
change_name("토필드", "필로시스헬스케어")
change_name("현대중공업", "한국조선해양")
change_name("퍼시픽바이오", "케이알피앤이")
change_name("대유위니아", "위니아딤채")
change_name("영인프런티어", "에이프런티어")
change_name("인터불스", "스타모빌리티")
change_name("리켐", "알이피")
change_name("알이피", "스카이이앤엠")
change_name("까스텔바쟉", "까스텔바작")
change_name("엠코르셋", "그리티")
change_name("KD건설", "KD")
change_name("아트라스BX", "한국아트라스비엑스")
change_name("와이디온라인", "아이톡시")
change_name("동양피엔에프", "디와이피엔에프")
change_name("필링크", "젬백스링크")

In [513]:
# 상장폐지 기업
def delete_company(name):
    lst = df[df['회사명'] == name].index
    df.drop(lst, inplace = True)
    
delete_company("두산건설")
delete_company("한컴지엠디")
delete_company("동양네트웍스")
delete_company("럭슬")
delete_company("데코앤이")
delete_company("차이나그레이트")
delete_company("썬텍")
delete_company("제이테크놀로지")
delete_company("사조해표")
delete_company("현대정보기술")
delete_company("이엘케이")
delete_company("에스마크")


df.reset_index(drop = True, inplace = True)

In [514]:
df = df.sort_values(["회사명", "결산기준일"]).reset_index(drop = True)

In [515]:
df.isnull().sum().sort_values().head(25)

종목코드            0
회사명             0
시장구분            0
업종              0
업종명             0
결산월             0
결산기준일           0
보고서종류           0
통화              0
대손충당금(유동)       4
대손충당금(비유동)      7
부채총계           12
자본총계           12
현금및현금성자산       12
재고자산평가충당금      12
자본과부채총계        15
자산총계           16
현재가치할인차금       18
비유동자산          27
유동자산           27
유동부채           28
유형자산           34
비유동부채          73
이익잉여금(결손금)    320
금융부채(유동)      484
dtype: int64

In [516]:
", ".join(df.isnull().sum().sort_values().head(18).index)

'종목코드, 회사명, 시장구분, 업종, 업종명, 결산월, 결산기준일, 보고서종류, 통화, 대손충당금(유동), 대손충당금(비유동), 부채총계, 자본총계, 현금및현금성자산, 재고자산평가충당금, 자본과부채총계, 자산총계, 현재가치할인차금'

In [517]:
df.shape

(11636, 201)

In [520]:
pre1 = df[["회사명", "부채총계"]]
pre1[pre1["부채총계"].isnull()]

Empty DataFrame
Columns: [회사명, 부채총계]
Index: []

In [519]:
# 부채총계 결측치 처리 Let's get it

# 두산솔루스 : 2019 상장
df[df['회사명'] == "두산솔루스"]

# 피에스케이 : 19년 상장
df[df['회사명'] == "피에스케이"]

# HDC현대산업개발 : 2018 상장
df[df['회사명'] == "HDC현대산업개발"]

# 스타모빌리티 : 2018년 이전 데이터 보고 X
df[df['회사명'] == "스타모빌리티"]

# 신한알파리츠 : 2018 상장
df[df['회사명'] == "신한알파리츠"]

# 썬텍 : 상장폐지
df[df['회사명'] == "썬텍"]

# 효성중공업 : 18년 상장
df[df['회사명'] == "효성중공업"]

# 효성첨단소재 : 18년 상장
df[df['회사명'] == "효성첨단소재"]

# 효성티앤씨 : 18년 상장
df[df['회사명'] == "효성티앤씨"]

# 효성화학 : 18년 상장
df[df['회사명'] == "효성화학"]

df = df.drop(pre1[pre1["부채총계"].isnull()].index).reset_index(drop = True)

In [521]:
df[df["회사명"] == "두산솔루스"][["부채총계", "결산기준일", "보고서종류"]]

              부채총계       결산기준일   보고서종류
2734  3.535681e+11  2019-12-31   사업보고서
2735  3.668967e+11  2020-03-31  1분기보고서

### 2. 자본과부채총계

In [524]:
pre1 = df[["회사명", "자본과부채총계"]]
pre1[pre1["자본과부채총계"].isnull()]

Empty DataFrame
Columns: [회사명, 자본과부채총계]
Index: []

In [ ]:
# 레드로버 : 재무제표에 공시
df[df['회사명'] == "레드로버"]

df["자본과부채총계"][3076] = 31639932606
df["자본과부채총계"][3072] = 121197574624
df["자본과부채총계"][3071] = 169236862922

In [ ]:
df[df["회사명"] == "레드로버"][["자본과부채총계", "결산기준일", "보고서종류"]]

### 3. 자산총계

In [525]:
pre1 = df[["회사명", "자산총계"]]
pre1[pre1["자산총계"].isnull()]

          회사명  자산총계
2921  디와이피엔에프   NaN
5822     아이큐어   NaN
7939    이엠앤아이   NaN
8639    젬백스링크   NaN

In [526]:
# 디와이피엔에프 : 별도 재무제표 공시
df[df['회사명'] == "디와이피엔에프"]
df.loc[2921, "자산총계"] = 158941261973


# 아이큐어 : 별도 재무제표 공시
df[df['회사명'] == "아이큐어"]
df.loc[5822, "자산총계"] = 192661915791

# 이엠앤아이 : 별도 재무제표 공시
df[df['회사명'] == "이엠앤아이"]
df.loc[7939, "자산총계"] = 12666493096

# 젬백스링크
df[df['회사명'] == "젬백스링크"]
df.loc[8639, "자산총계"] = 202889636697

In [527]:
df[df["회사명"] == "젬백스링크"][["자산총계", "결산기준일", "보고서종류"]]

              자산총계       결산기준일   보고서종류
8636  3.824073e+11  2017-12-31   사업보고서
8637  1.889997e+11  2018-12-31   사업보고서
8638  1.888992e+11  2019-03-31  1분기보고서
8639  2.028896e+11  2019-06-30   반기보고서
8640  1.847214e+11  2019-09-30  3분기보고서
8641  1.877331e+11  2019-12-31   사업보고서
8642  1.822035e+11  2020-03-31  1분기보고서

### 4.유동자산

In [528]:
pre1 = df[["회사명", "유동자산"]]
pre1[pre1["유동자산"].isnull()]

         회사명  유동자산
1711    네온테크   NaN
5572    아남전자   NaN
5573    아남전자   NaN
5574    아남전자   NaN
5575    아남전자   NaN
5576    아남전자   NaN
5577    아남전자   NaN
5578    아남전자   NaN
7835  이매진아시아   NaN
7836  이매진아시아   NaN
7837  이매진아시아   NaN
7838  이매진아시아   NaN
7839  이매진아시아   NaN
7840  이매진아시아   NaN
7841  이매진아시아   NaN

In [529]:
# 네온테크 : 별도 재무제표만 공시
df[df['회사명'] == "네온테크"]
df.loc[1711, "유동자산"] = 9909238162

# 아남전자 : 요약 연결재무정보에 유동자산 합계로 공시
df[df['회사명'] == "아남전자"]
df.loc[5572, "유동자산"] = 4221758  
df.loc[5573, "유동자산"] = 4183128  
df.loc[5574, "유동자산"] = 76565375
df.loc[5575, "유동자산"] = 84717212
df.loc[5576, "유동자산"] = 108362809 
df.loc[5577, "유동자산"] = 76772727
df.loc[5578, "유동자산"] = 70760491  


# 이매진아시아
df[df['회사명'] == "이매진아시아"]
df.loc[7835, "유동자산"] = 21334838000
df.loc[7836, "유동자산"] = 28976537495
df.loc[7837, "유동자산"] = 30483324723
df.loc[7838, "유동자산"] = 15929929985
df.loc[7839, "유동자산"] = 11962616796
df.loc[7840, "유동자산"] = 13259494327
df.loc[7841, "유동자산"] = 11809817567

In [530]:
df[df["회사명"] == "이매진아시아"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
7835  2.133484e+10  2017-12-31   사업보고서
7836  2.897654e+10  2018-12-31   사업보고서
7837  3.048332e+10  2019-03-31  1분기보고서
7838  1.592993e+10  2019-06-30   반기보고서
7839  1.196262e+10  2019-09-30  3분기보고서
7840  1.325949e+10  2019-12-31   사업보고서
7841  1.180982e+10  2020-03-31  1분기보고서

### 5. 비유동자산

In [531]:
pre1 = df[["회사명", "비유동자산"]]
pre1[pre1["비유동자산"].isnull()]

         회사명  비유동자산
1711    네온테크    NaN
5572    아남전자    NaN
5573    아남전자    NaN
5574    아남전자    NaN
5575    아남전자    NaN
5576    아남전자    NaN
5577    아남전자    NaN
5578    아남전자    NaN
7835  이매진아시아    NaN
7836  이매진아시아    NaN
7837  이매진아시아    NaN
7838  이매진아시아    NaN
7839  이매진아시아    NaN
7840  이매진아시아    NaN
7841  이매진아시아    NaN

In [532]:
# 네온테크 : 별도 재무제표만 공시
df[df['회사명'] == "네온테크"]
df.loc[1711, "비유동자산"] = 0


# 아남전자 : 요약 연결재무정보에 유동자산 합계로 공시
df[df['회사명'] == "아남전자"]
df.loc[5572, "비유동자산"] = 44875113
df.loc[5573, "비유동자산"] = 50478577   
df.loc[5574, "비유동자산"] = 49782059
df.loc[5575, "비유동자산"] = 47592345 
df.loc[5576, "비유동자산"] = 46956983 
df.loc[5577, "비유동자산"] = 49778159  
df.loc[5578, "비유동자산"] = 48972830 

# 이매진아시아
df[df['회사명'] == "이매진아시아"]
df.loc[7835, "비유동자산"] = 33334152947
df.loc[7836, "비유동자산"] = 2953740256
df.loc[7837, "비유동자산"] = 7396863502
df.loc[7838, "비유동자산"] = 4578418538
df.loc[7839, "비유동자산"] = 7592980693
df.loc[7840, "비유동자산"] = 4665434830
df.loc[7841, "비유동자산"] = 4842990239

In [533]:
df[df["회사명"] == "이매진아시아"][["비유동자산", "결산기준일", "보고서종류"]]

             비유동자산       결산기준일   보고서종류
7835  3.333415e+10  2017-12-31   사업보고서
7836  2.953740e+09  2018-12-31   사업보고서
7837  7.396864e+09  2019-03-31  1분기보고서
7838  4.578419e+09  2019-06-30   반기보고서
7839  7.592981e+09  2019-09-30  3분기보고서
7840  4.665435e+09  2019-12-31   사업보고서
7841  4.842990e+09  2020-03-31  1분기보고서

### 6. 유동부채

In [534]:
pre1 = df[["회사명", "유동부채"]]
pre1[pre1["유동부채"].isnull()]

         회사명  유동부채
1711    네온테크   NaN
4135    삼보산업   NaN
5572    아남전자   NaN
5573    아남전자   NaN
5574    아남전자   NaN
5575    아남전자   NaN
5576    아남전자   NaN
5577    아남전자   NaN
5578    아남전자   NaN
7835  이매진아시아   NaN
7836  이매진아시아   NaN
7837  이매진아시아   NaN
7838  이매진아시아   NaN
7839  이매진아시아   NaN
7840  이매진아시아   NaN
7841  이매진아시아   NaN

In [535]:
# 네온테크 : 별도 재무제표만 공시
df[df['회사명'] == "네온테크"]
df.loc[1711, "유동부채"] = 14586242

# 삼보산업 : 요약 연결재무정보에 공시
df[df['회사명'] == "삼보산업"]
df.loc[4135, "유동부채"] = 207041000000
                        
# 아남전자 : 요약 연결재무정보에 유동자산 합계로 공시
df[df['회사명'] == "아남전자"]
df.loc[5572, "유동부채"] = 65151545 
df.loc[5573, "유동부채"] = 69665798 
df.loc[5574, "유동부채"] = 71959612
df.loc[5575, "유동부채"] = 79191890 
df.loc[5576, "유동부채"] = 101582936 
df.loc[5577, "유동부채"] = 73476048  
df.loc[5578, "유동부채"] = 68503799

# 이매진아시아
df[df['회사명'] == "이매진아시아"]
df.loc[7835, "유동부채"] = 15683666040
df.loc[7836, "유동부채"] = 6676631869
df.loc[7837, "유동부채"] = 11833150624
df.loc[7838, "유동부채"] = 9240057512
df.loc[7839, "유동부채"] = 9497337516
df.loc[7840, "유동부채"] = 5507938679
df.loc[7841, "유동부채"] = 5221900941

In [536]:
df[df["회사명"] == "아남전자"][["유동부채", "결산기준일", "보고서종류"]]

             유동부채       결산기준일   보고서종류
5572   65151545.0  2017-12-31   사업보고서
5573   69665798.0  2018-12-31   사업보고서
5574   71959612.0  2019-03-31  1분기보고서
5575   79191890.0  2019-06-30   반기보고서
5576  101582936.0  2019-09-30  3분기보고서
5577   73476048.0  2019-12-31   사업보고서
5578   68503799.0  2020-03-31  1분기보고서

### 7.유형자산

In [537]:
pre1 = df[["회사명", "유형자산"]]
pre1[pre1["유형자산"].isnull()]

           회사명  유형자산
5331    신한알파리츠   NaN
5332    신한알파리츠   NaN
5333    신한알파리츠   NaN
5334    신한알파리츠   NaN
5335    신한알파리츠   NaN
5336    신한알파리츠   NaN
5337    신한알파리츠   NaN
7820    이리츠코크렙   NaN
7821    이리츠코크렙   NaN
7822    이리츠코크렙   NaN
7823    이리츠코크렙   NaN
7824    이리츠코크렙   NaN
7825    이리츠코크렙   NaN
7826    이리츠코크렙   NaN
7827    이리츠코크렙   NaN
8707    종근당홀딩스   NaN
9627   키다리스튜디오   NaN
9628   키다리스튜디오   NaN
9629   키다리스튜디오   NaN
9630   키다리스튜디오   NaN
9631   키다리스튜디오   NaN
10108   포비스티앤씨   NaN

In [538]:
# 신한알파리츠 : 
df.loc[5331, "유형자산"] = 0
df.loc[5332, "유형자산"] = 0
df.loc[5333, "유형자산"] = 0
df.loc[5334, "유형자산"] = 0
df.loc[5335, "유형자산"] = 0
df.loc[5336, "유형자산"] = 0
df.loc[5337, "유형자산"] = 0

# 이리츠코크렙 :0
df.loc[7820, "유형자산"] = 0
df.loc[7821, "유형자산"] = 0
df.loc[7822, "유형자산"] = 0
df.loc[7823, "유형자산"] = 0
df.loc[7824, "유형자산"] = 0
df.loc[7825, "유형자산"] = 0
df.loc[7826, "유형자산"] = 0
df.loc[7827, "유형자산"] = 0

# 종근당홀딩스
df.loc[8707, "유형자산"] = df.loc[8706, "유형자산"]

# 키다리스튜디오
df.loc[9627, "유형자산"] = 177735015
df.loc[9628, "유형자산"] = 162568438
df.loc[9629, "유형자산"] = 245023009
df.loc[9630, "유형자산"] = 231208964
df.loc[9631, "유형자산"] = 237184132

# 포비스티앤씨 
df.loc[10108, "유형자산"] = 3963122739

In [539]:
df[df["회사명"] == "포비스티앤씨"][["유형자산", "결산기준일", "보고서종류"]]

               유형자산       결산기준일   보고서종류
10106  3.877959e+09  2017-12-31   사업보고서
10107  3.817626e+09  2018-12-31   사업보고서
10108  3.963123e+09  2019-03-31  1분기보고서
10109  4.409249e+09  2019-06-30   반기보고서
10110  8.960859e+08  2019-09-30  3분기보고서
10111  7.883683e+08  2019-12-31   사업보고서
10112  9.949496e+08  2020-03-31  1분기보고서

In [540]:
df.to_csv("../data/fianl_data_without_entity_change.csv", encoding = 'euc-kr', index = False)

In [541]:
test = df

In [542]:
cols = df.columns
df[df["통화"] != "KRW"]["회사명"].unique()

array(['GRT', 'JTC', 'SBI핀테크솔루션즈', 'SNK', '골든센츄리', '글로벌에스엠', '뉴프라이드',
       '로스웰', '씨케이에이치', '아남전자', '에스앤씨엔진그룹', '엑세스바이오', '엘브이엠씨', '오가닉티코스메틱',
       '윙입푸드', '이스트아시아홀딩스', '잉글우드랩', '컬러레이', '크리스탈신소재', '헝셩그룹'],
      dtype=object)

In [545]:
# GRT
df[df["회사명"] == "GRT"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
219  2.135258e+11  2017-06-30   사업보고서
220  2.526287e+11  2018-06-30   사업보고서
221  3.923356e+11  2019-03-31  3분기보고서
222  3.989039e+11  2019-06-30   사업보고서
223  3.881631e+11  2019-09-30  1분기보고서
224  3.443308e+11  2019-12-31   반기보고서

In [544]:
df[df["회사명"] == "GRT"][["유동자산", "결산기준일", "보고서종류"]]
# 사업보고서
# 19 : 168.08, 18 : 169.41, 17 : 167.79
# 1분기 보고서 : 168.52
# 반기보고서 : 165.74
# 3분기 보고서 : 168.74
cols = df.columns
df.iloc[219, 9:] = df.iloc[219, 9:] * 167.79
df.iloc[220, 9:] = df.iloc[220, 9:] * 169.41
df.iloc[221, 9:] = df.iloc[221, 9:] * 168.74
df.iloc[222, 9:] = df.iloc[222, 9:] * 168.08
df.iloc[223, 9:] = df.iloc[223, 9:] * 168.52
df.iloc[224, 9:] = df.iloc[224, 9:] * 165.74

In [546]:
# JTC
df[df["회사명"] == "JTC"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
334  1.715509e+10  2017-02-28   사업보고서
335  1.569315e+10  2018-02-28   사업보고서
336  2.256681e+10  2019-02-28   사업보고서
337  2.237040e+10  2019-05-31  1분기보고서
338  2.292778e+10  2019-08-31   반기보고서
339  2.259863e+10  2019-11-30  3분기보고서

In [547]:
# 사업보고서
# 19 : 11.099, 18 : 10.8, 17: 9.98
# 1분기 : 10.86
# 반기 :  11.4
# 3분기 : 10.77
df.iloc[334, 9:] = df.iloc[334, 9:] *9.98
df.iloc[335, 9:] = df.iloc[335, 9:] *10.8
df.iloc[336, 9:] = df.iloc[336, 9:] *11.099
df.iloc[337, 9:] = df.iloc[337, 9:] *10.86
df.iloc[338, 9:] = df.iloc[338, 9:] *11.4
df.iloc[339, 9:] = df.iloc[339, 9:] *10.77

In [548]:
# SBI핀테크솔루션즈
df[df["회사명"] == "SBI핀테크솔루션즈"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
735  1.056669e+10  2017-03-31   사업보고서
736  2.212504e+10  2018-03-31   사업보고서
737  2.678965e+10  2019-03-31   사업보고서
738  2.571250e+10  2019-06-30  1분기보고서
739  1.637737e+10  2019-09-30   반기보고서
740  3.408031e+10  2019-12-31  3분기보고서

In [549]:
# 사업보고서
# 19 : 10.2824, 18 : 10.0146, 17 : 9.9852
# 반기보고서 : 11.1340
# 1분기 : 10.7335
# 3분기 : 10.6347
df.iloc[735, 9:] = df.iloc[735, 9:] * 9.9852
df.iloc[736, 9:] = df.iloc[736, 9:] * 10.0146
df.iloc[737, 9:] = df.iloc[737, 9:] * 10.2824
df.iloc[738, 9:] = df.iloc[738, 9:] * 10.7335
df.iloc[739, 9:] = df.iloc[739, 9:] * 11.1340
df.iloc[740, 9:] = df.iloc[740, 9:] * 10.6347

In [550]:
# SNK
df[df["회사명"] == "SNK"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
948  6.733729e+09  2017-07-31   사업보고서
949  9.884799e+09  2018-07-31   사업보고서
950  2.840232e+10  2019-04-30  3분기보고서
951  2.806686e+10  2019-07-31   사업보고서
952  2.742749e+10  2019-10-31  1분기보고서

In [551]:
# 사업보고서
# 19 : 1088.45, 18 : 1005.95, 17 : 1012.26
# 3분기 : 1088.45
# 1분기 : 1074.05

df.iloc[948, 9:] = df.iloc[948, 9:] * 10.1226
df.iloc[949, 9:] = df.iloc[949, 9:] * 10.0595
df.iloc[950, 9:] = df.iloc[950, 9:] * 10.8845
df.iloc[951, 9:] = df.iloc[951, 9:] * 10.8845
df.iloc[952, 9:] = df.iloc[952, 9:] * 10.7405

In [552]:
# 골든센츄리
df[df["회사명"] == "골든센츄리"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
1269  475583808.0  2017-12-31   사업보고서
1270  634512576.0  2018-12-31   사업보고서
1271  705199616.0  2019-03-31  1분기보고서
1272  848928064.0  2019-06-30   반기보고서
1273  872114048.0  2019-09-30  3분기보고서
1274  888368640.0  2019-12-31   사업보고서
1275  937886080.0  2020-03-31  1분기보고서

In [553]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 3분기 : 168.52
# 반기 : 168.08
df.iloc[1269, 9:] = df.iloc[1269, 9:] * 163.65
df.iloc[1270, 9:] = df.iloc[1270, 9:] * 162.76
df.iloc[1271, 9:] = df.iloc[1271, 9:] * 168.74
df.iloc[1272, 9:] = df.iloc[1272, 9:] * 168.08
df.iloc[1273, 9:] = df.iloc[1273, 9:] * 168.52
df.iloc[1274, 9:] = df.iloc[1274, 9:] * 165.74
df.iloc[1275, 9:] = df.iloc[1275, 9:] * 172.43

In [554]:
# 글로벌에스엠
df[df["회사명"] == "글로벌에스엠"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
1397  548036160.0  2017-12-31   사업보고서
1398  505280896.0  2018-12-31   사업보고서
1399  510250784.0  2019-03-31  1분기보고서
1400  517361760.0  2019-06-30   반기보고서
1401  538064384.0  2019-09-30  3분기보고서
1402  506260096.0  2019-12-31   사업보고서
1403  513747136.0  2020-03-31  1분기보고서

In [555]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 반기 : 168.08
# 3분기 : 168.52
df.iloc[1397, 9:] = df.iloc[1397, 9:] * 163.65
df.iloc[1398, 9:] = df.iloc[1398, 9:] * 162.76
df.iloc[1399, 9:] = df.iloc[1399, 9:] * 168.74
df.iloc[1400, 9:] = df.iloc[1400, 9:] * 168.08
df.iloc[1401, 9:] = df.iloc[1401, 9:] * 168.52
df.iloc[1402, 9:] = df.iloc[1402, 9:] * 165.74
df.iloc[1403, 9:] = df.iloc[1403, 9:] * 172.43

In [556]:
# 뉴프라이드
df[df["회사명"] == "뉴프라이드"][["유동자산", "결산기준일", "보고서종류"]]

            유동자산       결산기준일   보고서종류
1930  41832996.0  2017-12-31   사업보고서
1931  28336760.0  2018-12-31   사업보고서
1932  18098612.0  2019-03-31  1분기보고서
1933  15484663.0  2019-06-30   반기보고서
1934  14424009.0  2019-09-30  3분기보고서
1935  17817416.0  2019-12-31   사업보고서

In [557]:
# 사업보고서
# 19 : 1157.80, 18 : 1118.10, 17 : 1071.40
# 1분기 : 1137.80
# 반기 : 1156.80
# 3분기 : 1201.30
df.iloc[1930, 9:] = df.iloc[1930, 9:] * 1071.40
df.iloc[1931, 9:] = df.iloc[1931, 9:] * 1118.10
df.iloc[1932, 9:] = df.iloc[1932, 9:] * 1137.80
df.iloc[1933, 9:] = df.iloc[1933, 9:] * 1156.80
df.iloc[1934, 9:] = df.iloc[1934, 9:] * 1201.30
df.iloc[1935, 9:] = df.iloc[1935, 9:] * 1157.80

In [558]:
# 로스웰
df[df["회사명"] == "로스웰"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
3126  1.542619e+09  2017-12-31   사업보고서
3127  1.385977e+09  2018-12-31   사업보고서
3128  1.399002e+09  2019-03-31  1분기보고서
3129  1.388388e+09  2019-06-30   반기보고서
3130  1.647429e+09  2019-09-30  3분기보고서
3131  1.670671e+09  2019-12-31   사업보고서
3132  1.573406e+09  2020-03-31  1분기보고서

In [559]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 반기 : 168.08
# 3분기 : 168.52
df.iloc[3126, 9:] = df.iloc[3126, 9:] * 163.65
df.iloc[3127, 9:] = df.iloc[3127, 9:] * 162.76
df.iloc[3128, 9:] = df.iloc[3128, 9:] * 168.74
df.iloc[3129, 9:] = df.iloc[3129, 9:] * 168.08
df.iloc[3130, 9:] = df.iloc[3130, 9:] * 168.52
df.iloc[3131, 9:] = df.iloc[3131, 9:] * 165.74
df.iloc[3132, 9:] = df.iloc[3132, 9:] * 172.43

In [560]:
# 씨케이에이치
df[df["회사명"] == "씨케이에이치"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
5532  2.811865e+09  2017-06-30   사업보고서
5533  2.597592e+09  2018-06-30   사업보고서
5534  2.354520e+09  2019-03-31  3분기보고서
5535  2.165416e+09  2019-06-30   사업보고서
5536  2.123201e+09  2019-09-30  1분기보고서
5537  1.948216e+09  2019-12-31   반기보고서

In [561]:
# 사업보고서
# 19 : 168.08, 18 : 169.41, 17 : 167.79
# 3분기 : 168.74
# 1분기 : 168.52
# 반기 : 165.74
df.iloc[5532, 9:] = df.iloc[5532, 9:] * 167.79
df.iloc[5533, 9:] = df.iloc[5533, 9:] * 169.41
df.iloc[5534, 9:] = df.iloc[5534, 9:] * 168.74
df.iloc[5535, 9:] = df.iloc[5535, 9:] * 168.08
df.iloc[5536, 9:] = df.iloc[5536, 9:] * 168.52
df.iloc[5537, 9:] = df.iloc[5537, 9:] * 165.74

In [562]:
# 아남전자
df[df["회사명"] == "아남전자"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
5572    4221758.0  2017-12-31   사업보고서
5573    4183128.0  2018-12-31   사업보고서
5574   76565375.0  2019-03-31  1분기보고서
5575   84717212.0  2019-06-30   반기보고서
5576  108362809.0  2019-09-30  3분기보고서
5577   76772727.0  2019-12-31   사업보고서
5578   70760491.0  2020-03-31  1분기보고서

In [563]:
# 사업보고서
# 19 : 1157.80, 18 : 1118.1, 17 : 1071.4
# 1분기 
# 20 : 1222.60, 19 : 1157.80
# 3분기 : 1157.80
# 반기 : 1157.80
df.iloc[5572, 9:] = df.iloc[5572, 9:] * 1071.4
df.iloc[5573, 9:] = df.iloc[5573, 9:] * 1118.1
df.iloc[5574, 9:] = df.iloc[5574, 9:] * 1157.80
df.iloc[5575, 9:] = df.iloc[5575, 9:] * 1157.80
df.iloc[5576, 9:] = df.iloc[5576, 9:] * 1157.80
df.iloc[5577, 9:] = df.iloc[5577, 9:] * 1157.80
df.iloc[5578, 9:] = df.iloc[5578, 9:] * 1222.60

In [564]:
# 엑세스바이오
df[df["회사명"] == "엑세스바이오"][["유동자산", "결산기준일", "보고서종류"]]

            유동자산       결산기준일   보고서종류
6507  32944236.0  2017-12-31   사업보고서
6508  36219240.0  2018-12-31   사업보고서
6509  31821174.0  2019-03-31  1분기보고서
6510  30948166.0  2019-06-30   반기보고서
6511  25313112.0  2019-09-30  3분기보고서
6512  22380924.0  2019-12-31   사업보고서
6513  24653810.0  2020-03-31  1분기보고서

In [565]:
# 사업보고서
# 19 :1157.80, 18 : 1118.10, 17 : 1071.40
# 1분기
# 20 : 1222.60, 19 : 1137.80
# 반기 : 1156.80 
# 3분기 : 1201.30
df.iloc[6507, 9:] = df.iloc[6507, 9:] * 1071.40
df.iloc[6508, 9:] = df.iloc[6508, 9:] * 1118.10
df.iloc[6509, 9:] = df.iloc[6509, 9:] * 1137.80
df.iloc[6510, 9:] = df.iloc[6510, 9:] * 1156.80 
df.iloc[6511, 9:] = df.iloc[6511, 9:] * 1201.30
df.iloc[6512, 9:] = df.iloc[6512, 9:] * 1157.80
df.iloc[6513, 9:] = df.iloc[6513, 9:] * 1222.60

In [566]:
# 엘브이엠씨
df[df["회사명"] == "엘브이엠씨"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
6641  313600128.0  2017-12-31   사업보고서
6642  328738208.0  2018-12-31   사업보고서
6643  319996832.0  2019-03-31  1분기보고서
6644  319641952.0  2019-06-30   반기보고서
6645  324502048.0  2019-09-30  3분기보고서
6646  283017504.0  2019-12-31   사업보고서
6647  282301312.0  2020-03-31  1분기보고서

In [567]:
# 사업보고서
# 19 : 1157.80, 18 : 1118.10, 17 : 1071.40
# 1분기
# 20 : 1222.60, 19 : 1137.80
# 반기 : 1156.80
# 3분기 : 1201.30
df.iloc[6641, 9:] = df.iloc[6641, 9:] * 1071.40
df.iloc[6642, 9:] = df.iloc[6642, 9:] * 1118.10
df.iloc[6643, 9:] = df.iloc[6643, 9:] * 1137.80
df.iloc[6644, 9:] = df.iloc[6644, 9:] * 1156.80
df.iloc[6645, 9:] = df.iloc[6645, 9:] * 1201.30
df.iloc[6646, 9:] = df.iloc[6646, 9:] * 1157.80
df.iloc[6647, 9:] = df.iloc[6647, 9:] * 1222.60

In [568]:
# 오가닉티코스메틱
df[df["회사명"] == "오가닉티코스메틱"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
6875  1.110022e+09  2017-12-31   사업보고서
6876  1.286344e+09  2018-12-31   사업보고서
6877  1.296040e+09  2019-03-31  1분기보고서
6878  1.418396e+09  2019-06-30   반기보고서
6879  1.440483e+09  2019-09-30  3분기보고서
6880  1.344806e+09  2019-12-31   사업보고서
6881  1.402538e+09  2020-03-31  1분기보고서

In [569]:
# 사업보고서
# 19 : 168.58, 18 : 166.4, 17 : 167.46
# 1분기
# 20 : 170.86, 19 : 166.51
# 반기 : 168.08
# 3분기 : 169.15
df.iloc[6875, 9:] = df.iloc[6875, 9:] * 167.46
df.iloc[6876, 9:] = df.iloc[6876, 9:] * 166.4
df.iloc[6877, 9:] = df.iloc[6877, 9:] * 166.51
df.iloc[6878, 9:] = df.iloc[6878, 9:] * 168.08
df.iloc[6879, 9:] = df.iloc[6879, 9:] * 169.15
df.iloc[6880, 9:] = df.iloc[6880, 9:] * 168.58
df.iloc[6881, 9:] = df.iloc[6881, 9:] * 170.86

In [570]:
# 윙입푸드
df[df["회사명"] == "윙입푸드"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
7454  296591648.0  2017-12-31   사업보고서
7455  554977984.0  2018-12-31   사업보고서
7456  614508352.0  2019-03-31  1분기보고서
7457  619894592.0  2019-06-30   반기보고서
7458  603485056.0  2019-09-30  3분기보고서
7459  632440896.0  2019-12-31   사업보고서
7460  672957888.0  2020-03-31  1분기보고서

In [571]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 반기 : 168.08
# 3분기 : 168.52
df.iloc[7454, 9:] = df.iloc[7454, 9:] * 163.65
df.iloc[7455, 9:] = df.iloc[7455, 9:] * 162.76
df.iloc[7456, 9:] = df.iloc[7456, 9:] * 168.74
df.iloc[7457, 9:] = df.iloc[7457, 9:] * 168.08
df.iloc[7458, 9:] = df.iloc[7458, 9:] * 168.52
df.iloc[7459, 9:] = df.iloc[7459, 9:] * 165.74
df.iloc[7460, 9:] = df.iloc[7460, 9:] * 172.43

In [572]:
# 이스트아시아홀딩스
df[df["회사명"] == "이스트아시아홀딩스"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
7879  1.123937e+09  2017-12-31   사업보고서
7880  1.221544e+09  2018-12-31   사업보고서
7881  1.136314e+09  2019-03-31  1분기보고서
7882  1.236441e+09  2019-06-30   반기보고서
7883  1.245403e+09  2019-09-30  3분기보고서
7884  1.246521e+09  2019-12-31   사업보고서

In [573]:
# 이스트아시아홀딩스
df[df["회사명"] == "이스트아시아홀딩스"][["유동자산", "결산기준일", "보고서종류"]]
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기 : 168.74
# 반기 : 168.08
# 3분기 : 168.52
df.iloc[7879, 9:] = df.iloc[7879, 9:] * 163.65
df.iloc[7880, 9:] = df.iloc[7880, 9:] * 162.76
df.iloc[7881, 9:] = df.iloc[7881, 9:] * 168.74
df.iloc[7882, 9:] = df.iloc[7882, 9:] * 168.08
df.iloc[7883, 9:] = df.iloc[7883, 9:] * 168.52
df.iloc[7884, 9:] = df.iloc[7884, 9:] * 165.74

In [574]:
# 잉글우드랩
df[df["회사명"] == "잉글우드랩"][["유동자산", "결산기준일", "보고서종류"]]

            유동자산       결산기준일   보고서종류
8350  43367536.0  2017-12-31   사업보고서
8351  53014668.0  2018-12-31   사업보고서
8352  55658508.0  2019-03-31  1분기보고서
8353  50476696.0  2019-06-30   반기보고서
8354  50372716.0  2019-09-30  3분기보고서
8355  60913372.0  2019-12-31   사업보고서
8356  66308248.0  2020-03-31  1분기보고서

In [575]:
# 사업보고서
# 19 : 1157.80, 18 : 1118.10, 17 : 1071.40
# 1분기
# 20 : 1222.60, 19 : 1135.10
# 반기 : 1156.80
# 3분기 : 1201.30
df.iloc[8350, 9:] = df.iloc[8350, 9:] * 1071.40
df.iloc[8351, 9:] = df.iloc[8351, 9:] * 1118.10
df.iloc[8352, 9:] = df.iloc[8352, 9:] * 1135.10
df.iloc[8353, 9:] = df.iloc[8353, 9:] * 1156.80
df.iloc[8354, 9:] = df.iloc[8354, 9:] * 1201.30
df.iloc[8355, 9:] = df.iloc[8355, 9:] * 1157.80
df.iloc[8356, 9:] = df.iloc[8356, 9:] * 1222.60

In [576]:
# 컬러레이
df[df["회사명"] == "컬러레이"][["유동자산", "결산기준일", "보고서종류"]]

             유동자산       결산기준일   보고서종류
9027  585072512.0  2017-12-31   사업보고서
9028  669981376.0  2018-12-31   사업보고서
9029  656047104.0  2019-03-31  1분기보고서
9030  726650368.0  2019-06-30   반기보고서
9031  734742400.0  2019-09-30  3분기보고서
9032  685583936.0  2019-12-31   사업보고서
9033  757853824.0  2020-03-31  1분기보고서

In [577]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 반기 : 168.08
# 3분기 : 168.52
df.iloc[9027, 9:] = df.iloc[9027, 9:] * 163.65
df.iloc[9028, 9:] = df.iloc[9028, 9:] * 162.76
df.iloc[9029, 9:] = df.iloc[9029, 9:] * 168.74
df.iloc[9030, 9:] = df.iloc[9030, 9:] * 168.08
df.iloc[9031, 9:] = df.iloc[9031, 9:] * 168.52
df.iloc[9032, 9:] = df.iloc[9032, 9:] * 165.74
df.iloc[9033, 9:] = df.iloc[9033, 9:] * 172.43

In [578]:
# 크리스탈신소재
df[df["회사명"] == "크리스탈신소재"][["유동자산", "결산기준일", "보고서종류"]]

              유동자산       결산기준일   보고서종류
9592  1.025290e+09  2017-12-31   사업보고서
9593  1.125271e+09  2018-12-31   사업보고서
9594  1.111256e+09  2019-03-31  1분기보고서
9595  1.068623e+09  2019-06-30   반기보고서
9596  8.940163e+08  2019-09-30  3분기보고서
9597  8.760770e+08  2019-12-31   사업보고서
9598  8.734662e+08  2020-03-31  1분기보고서

In [579]:
# 사업보고서
# 19 : 165.74, 18 : 162.76, 17 : 163.65
# 1분기
# 20 : 172.43, 19 : 168.74
# 반기 : 168.08
# 3분기 : 168.52 
df.iloc[9592, 9:] = df.iloc[9592, 9:] * 163.65
df.iloc[9593, 9:] = df.iloc[9593, 9:] * 162.76
df.iloc[9594, 9:] = df.iloc[9594, 9:] * 168.74
df.iloc[9595, 9:] = df.iloc[9595, 9:] * 168.08
df.iloc[9596, 9:] = df.iloc[9596, 9:] * 168.52 
df.iloc[9597, 9:] = df.iloc[9597, 9:] * 165.74
df.iloc[9598, 9:] = df.iloc[9598, 9:] * 172.43

In [580]:
# 헝셩그룹
df[df["회사명"] == "헝셩그룹"][["유동자산", "결산기준일", "보고서종류"]]

               유동자산       결산기준일   보고서종류
11141  1.321818e+09  2017-12-31   사업보고서
11142  1.475092e+09  2018-12-31   사업보고서
11143  1.521089e+09  2019-03-31  1분기보고서
11144  1.603383e+09  2019-06-30   반기보고서
11145  1.709772e+09  2019-09-30  3분기보고서
11146  1.687002e+09  2019-12-31   사업보고서
11147  1.673010e+09  2020-03-31  1분기보고서

In [581]:
# 사업보고서
# 19 : 168.58, 18 : 166.4, 17 : 167.46
# 1분기
# 20 : 170.86, 19 : 166.51
# 반기 : 168.65
# 3분기 : 169.15
df.iloc[11141, 9:] = df.iloc[11141, 9:] * 167.46
df.iloc[11142, 9:] = df.iloc[11142, 9:] * 166.4
df.iloc[11143, 9:] = df.iloc[11143, 9:] * 166.51
df.iloc[11144, 9:] = df.iloc[11144, 9:] * 168.65
df.iloc[11145, 9:] = df.iloc[11145, 9:] * 169.15
df.iloc[11146, 9:] = df.iloc[11146, 9:] * 168.58
df.iloc[11147, 9:] = df.iloc[11147, 9:] * 170.86

In [582]:
df.to_csv("../data/fianl_data_without_entity_change.csv", encoding = 'euc-kr', index = False)

In [583]:
df = pd.read_csv("../data/fianl_data_without_entity_change.csv", encoding = "euc-kr")

In [584]:
cols = df.columns

In [585]:
cols = df.columns
for idx, value in enumerate(cols):
    if value == "영업권":
        print("영업권 index = ", idx)
    elif value == "기타무형자산":
        print("기타무형자산 index =", idx)
    
df.iloc[:, 90:111].sum(axis = 1)
df2 = df

영업권 index =  90
기타무형자산 index = 110

In [586]:
# 무형자산
df2.iloc[:, 90] = df.iloc[:, 90:111].sum(axis = 1)
df2.drop(df2.columns[91:111], axis = 1, inplace = True)
df2 = df2.rename({"영업권":"무형자산"},axis = "columns")

# 금융자산
df2["금융자산(유동)"] = df2[["금융자산(유동)", "금융자산(비유동)"]].sum(axis = 1)
df2.drop(["금융자산(비유동)"], axis = 1, inplace = True)
df2 = df2.rename({"금융자산(유동)":"금융자산"}, axis = "columns")

# 유아이디 변수 처리!!
df2.iloc[7598, 9:] = df2.iloc[7598, 9:] / 1000000
df2.to_csv("../data/all_preprocessing_finish_without_entity.csv", encoding = "euc-kr", index = False)