In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
data = pd.read_csv("./data/2015_사업보고서_01_재무상태표_20200515.txt", sep = "\t", encoding = "cp949")
df = data.copy()

In [24]:
print(df.isnull().sum())
# 결측치 처리 필요!
print(df.info())

재무제표종류             0
종목코드               0
회사명                0
시장구분               0
업종                 0
업종명                0
결산월                0
결산기준일              0
보고서종류              0
통화                 0
항목코드               0
항목명                0
당기              8270
전기              8905
전전기             9621
Unnamed: 15    77067
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77067 entries, 0 to 77066
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   재무제표종류       77067 non-null  object
 1   종목코드         77067 non-null  object
 2   회사명          77067 non-null  object
 3   시장구분         77067 non-null  object
 4   업종           77067 non-null  int64
 5   업종명          77067 non-null  object
 6   결산월          77067 non-null  int64
 7   결산기준일        77067 non-null  object
 8   보고서종류        77067 non-null  object
 9   통화           77067 non-null  object
 10  항목코드         77067 non-null  object
 11  항목명          77067 non-null  object
 12  당기           68797 non-null  object
 13  전기           68162 non-null  object
 14  전전기          67446 non-null  object
 15  Unnamed: 15  0 non-null      float64
dtypes: float64(1), int64(2), object(13)
memory usage: 9.4+ MB
None

In [27]:
# 변수 
# 재무제표종류 종목코드 회사명 시장구분 업종 업종명 결산월 결산기준일 
# 보고서종류 통화 항목코드 항목명 당기 전기 전전기 Unnamed: 15
" ".join(df.columns)

'재무제표종류 종목코드 회사명 시장구분 업종 업종명 결산월 결산기준일 보고서종류 통화 항목코드 항목명 당기 전기 전전기 Unnamed: 15'

In [30]:
# 재무제표종류
print(df["재무제표종류"].unique())
print(df["재무제표종류"].value_counts())

['재무상태표, 유동/비유동법-별도재무제표' '재무상태표, 유동성배열법-별도재무제표']
재무상태표, 유동/비유동법-별도재무제표    76661
재무상태표, 유동성배열법-별도재무제표       406
Name: 재무제표종류, dtype: int64

In [38]:
# 종목코드 : 한국거래소에서 관리하는 회사코드로 6자리로 구성
print(len(df["종목코드"].unique()))
print(df["종목코드"].value_counts())

1800
[054050]    210
[036460]    150
[095720]    126
[001790]    125
[052690]    124
           ...
[208870]     20
[208370]     20
[215100]     20
[218150]     20
[230240]     19
Name: 종목코드, Length: 1800, dtype: int64

In [40]:
# 회사명 : 제출인의 회사명칭
print(len(df["회사명"].unique()))
print(df["회사명"].value_counts())

1801
농우바이오         210
한국가스공사        150
웅진씽크빅         126
대한제당          125
한전기술          124
             ...
하나머스트4호스팩      20
하나머스트5호스팩      20
하나머스트3호스팩      20
한국3호스팩         20
하나금융7호SPAC     19
Name: 회사명, Length: 1801, dtype: int64

In [43]:
# 시장구분 : 유가증권시장상장법인, 코스닥시장상장법인(Kosdaq)
# 유가증권시장상장법인 : Kospi
# 코스닥 시장은 IT(Information technology), BT(Bio technology), CT(Culture technology) 
# 기업과 벤처기업의 자금조달을 목적으로 1996년 7월 개설된 첨단 벤처기업 중심 시장입니다.
print(df["시장구분"].unique())

['코스닥시장상장법인' '유가증권시장상장법인']
코스닥시장상장법인     45751
유가증권시장상장법인    31316
Name: 시장구분, dtype: int64

In [93]:
# 업종, 업종명
# 통계청 통계분류 포털 : https://kssc.kostat.go.kr:8443/ksscNew_web/link.do?gubun=001
print(df["업종명"].value_counts())
company_name = df["업종명"].unique()
company_name_sum = df["업종명"].value_counts().sort_values()
df_company_name = pd.DataFrame({"업종명":company_name, "합계":company_name_sum})

# 업종
print(df["업종"].value_counts())
company = df["업종"].unique()
company_sum = df["업종"].value_counts().sort_values()
df_company = pd.DataFrame({"업종":company, "합계":company_sum})

# 업종과 업종명이 다른 행 추출
com_left = pd.merge(df_company_name, df_company, how = "left")
print(com_left[com_left["업종"].isnull()])

com_right = pd.merge(df_company_name, df_company, how = "right")
print(com_right[com_right["업종명"].isnull()])

# 업종 != 업종명 처리방법 회의 필요

전자부품 제조업              4731
특수 목적용 기계 제조업         4151
자동차 부품 제조업            3576
소프트웨어 개발 및 공급업        3254
의약품 제조업               3033
                      ...
그외 기타 운송장비 제조업          34
소화물 전문 운송업              34
자동차 부품 및 내장품 판매업        33
과실, 채소 가공 및 저장 처리업      32
인형,장난감 및 오락용품 제조업       32
Name: 업종명, Length: 155, dtype: int64
262    4731
292    4151
303    3651
582    3254
212    3033
       ...
26       35
494      34
452      33
334      32
103      32
Name: 업종, Length: 145, dtype: int64
                                업종명    합계  업종
32               유원지 및 기타 오락관련 서비스업    42 NaN
33                           건물 건설업    42 NaN
79                       소화물 전문 운송업   114 NaN
90                     방적 및 가공사 제조업   123 NaN
91                      1차 비철금속 제조업   124 NaN
143                           어로 어업   367 NaN
152                    그외 기타 제품 제조업   468 NaN
180  전동기, 발전기 및 전기 변환ㆍ 공급ㆍ제어 장치 제조업  1121 NaN
184             건축자재, 철물 및 난방장치 도매업  1671 NaN
189                    기타 상품 전문 소매업  2647 NaN
193                     제재 및 목재 가공업  3576 NaN
     업종명    합계   업종
185  NaN    70  303
186  NaN   320   26
187  NaN   451   72
188  NaN   503  320
189  NaN   598  339
190  NaN  1235  753
191  NaN  1713  382
192  NaN  2688  120
193  NaN  3651  351

In [95]:
# 결산월, 결산기준일
print(df["결산월"].unique())
print(df["결산기준일"].unique())

[ 3 12  9  6  5  8  4 11]
['2015-03-31' '2015-12-31' '2015-09-30' '2015-06-30' '2015-05-31'
 '2015-08-31' '2015-04-30' '2015-10-31' '2015-11-30']

In [98]:
# 보고서종류
print(df["보고서종류"].unique())

['사업보고서']

In [ ]:
# 통화 : 필요 없는 변수
# 항목코드 : 계정과목코드
# ifrs_xxx : 국제 기준
# dart_xxx : 국제 기준을 수정
# entity_xxx : 신규회사

In [19]:
# data
df["당기"] = df["당기"].str.replace(",", "")
df["전기"] = df["전기"].str.replace(",", "")
df["전전기"] = df["전전기"].str.replace(",", "")
df[["당기", "전기", "전전기"]] = df[["당기", "전기", "전전기"]].astype(np.float32)

In [ ]:
# 필요 없는 변수 제거
df.drop("통화", axis = 1, inplace = True)
df.drop("종목코드", axis = 1, inplace = True)