In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import seaborn as sns

In [13]:
def get_merged_csv(flist, **kwargs):
    return pd.concat([pd.read_csv(f, **kwargs) for f in flist], ignore_index=True)

path = os.getcwd() + "/data"
fmask = os.path.join(path, '*기보고서*.txt')
glob.glob(fmask)
df = get_merged_csv(glob.glob(fmask), index_col=None, sep = "\t", encoding = "cp949")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
# '재무제표종류 종목코드 회사명 시장구분 업종 업종명 결산월 결산기준일 
# 보고서종류 통화 항목코드 항목명 당기 1분기말 전기말 전전기말 Unnamed: 15 당기 3분기말 당기 반기말'

# 변수 삭제
" ".join(df.columns)

lst = ["통화", "Unnamed: 15"]
df.drop(lst, axis = 1, inplace = True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993753 entries, 0 to 1993752
Data columns (total 16 columns):
 #   Column   Dtype
---  ------   -----
 0   재무제표종류   object
 1   종목코드     object
 2   회사명      object
 3   시장구분     object
 4   업종       int64
 5   업종명      object
 6   결산월      int64
 7   결산기준일    object
 8   보고서종류    object
 9   항목코드     object
 10  항목명      object
 11  당기 1분기말  object
 12  전기말      object
 13  전전기말     object
 14  당기 3분기말  object
 15  당기 반기말   object
dtypes: int64(2), object(14)
memory usage: 243.4+ MB

In [45]:
# 1분기보고서 : 결산월 3월 이면 결산기준일 6/30
# 결산월 부터 
df[df["보고서종류"] == "3분기보고서"][["결산기준일", "결산월"]]

              결산기준일  결산월
139997   2016-12-31    3
139998   2016-12-31    3
139999   2016-12-31    3
140000   2016-12-31    3
140001   2016-12-31    3
...             ...  ...
1662491  2019-09-30   12
1662492  2019-09-30   12
1662493  2019-09-30   12
1662494  2019-09-30   12
1662495  2019-09-30   12

[618322 rows x 2 columns]